image:
  repository: internal-registry/kpod-metrics
  tag: "0.1.0"
  pullPolicy: IfNotPresent

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi

podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/port: "9090"
  prometheus.io/path: "/actuator/prometheus"

nodeSelector:
  kubernetes.io/os: linux

tolerations:
  - operator: Exists

config:
  profile: standard
  pollInterval: 15000
